.home {
    display: flex;
    /* justify-content: space-between; */
}

.people__info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1050px) {
    .people__info {
        flex-direction: column;
        gap: 4rem;
    }
}
@media screen and (max-width: 776px) {
}

@media screen and (max-width: 576px) {
}
@media screen and (max-width: 350px) {
}
